.form-container{
    width: 66vw;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 2%;
    margin: 4%;
}

.products-row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: rgb(125, 139, 139);
}