.product-list-container {
    width:25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.product-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product-heading {
    border-bottom: 1px solid grey;
    width: 60%;
    margin: auto;
    text-align: center;
}

.product-row button {
    margin-right: 10%;
}