.items-container {
    width: 25%;
    background-color: gray;

}

.editor {
    width: 60%;
    background-color: lightblue;
    height: 100%;
}

.order-container {
    width: 15%;
    background-color: lightblue;
    display: flex;
    
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    
}

.order-detail {
    font-size: larger;
    padding-bottom: 1%;
} 

.order {
    margin-top: 15%;
    background-color: #3d4757;
    color: #ffffff;
    padding: 10%;
}