ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: #3C4F6D;
  /* box-shadow: 4px 2px 5px gray; */
  color: white;
  /* margin-bottom: 2rem; */
  padding: 1.5rem 2rem;
  height: 10vh;
}

.navBar button {
  background: #2b3547;
  /* border: 1px solid #C37F90; */
  color: white;
  padding: 0.4rem 0.5rem;
  /* margin-right: 5%; */
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 4.5vh;

}
