.order-lists {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.lists-container {
    display: flex;
    flex-wrap: nowrap;
    width: 65%;
    background-color: rgb(108, 104, 104);
}

.pad {
    padding: .5vw;

}

.click {
    width: 100;
}


.t-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1vh;
    border-bottom: 1px solid gray;
}

.n-cell {
    width: 10%;
    cursor: pointer;
   
}

.n-cell:hover {
    background-color: aqua;
    border-radius: 10px;
}

.c-cell {
    width: 30%;
}

.d-cell {
    width: 20%
}

.b-cell {
    width: 40%;
}



.table {
    width: 33%;
    font-size: .75vw;
}

.table-name{
    width: 33%;
    text-align: center;
}

.data {
    height: 25vh;
    background-color: aliceblue;
    overflow-y: scroll;
}

.data button {
    padding: .25vh;
}